* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}