.app-footer {
    background-color: #000;

    .container {
        padding: 100px 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .section__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #6f6f6f;
    }

    &__section ul {
        margin-top: 14px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__section a {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
    }
}

@media (max-width: 991.98px) {
    .app-footer {
        .container {
            padding: 60px 20px;
        }
    }
}

@media (max-width: 767.98px) {
    .app-footer {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 60px;
        }
    }
}

@media (max-width: 575.98px) {
    .app-footer {
        .container {
            grid-template-columns: 1fr;
        }
    }
}
