.product-list {
    margin-top: 110px;
    margin-bottom: 100px;

    .container {
        padding: 0 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    .footer__load-yet {
        margin-top: 110px;
        border: 1px solid #000;
        padding: 10px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000;
        background-color: transparent;
    }
}
