.product-list {
    margin-top: 110px;
    margin-bottom: 100px;

    .container {
        padding: 0 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    &__footer {
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .footer__error-message {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000;
        text-align: center;
    }

    .footer__show-more {
        border: 1px solid #000;
        padding: 10px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000;
        background-color: transparent;
    }

    .footer__show-more_pending {
        border-color: transparent;
    }
}

@media (max-width: 1199.98px) {
    .product-list {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 991.98px) {
    .product-list {
        .container {
            padding: 0 20px;
        }
    }
}

@media (max-width: 767.98px) {
    .product-list {
        margin-top: 40px;
        margin-bottom: 40px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &__footer {
            margin-top: 40px;
        }
    }
}
