.product-card {
    position: relative;

    &__actions {
        top: 10px;
        right: 10px;
        position: absolute;
    }

    &__img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        margin-top: 31px;
    }

    .info__price {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .price__price-normal {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #000;
    }

    .price__price-x2 {
        padding: 4px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.05em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #000;
    }

    .info__name {
        margin-top: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000;
        display: block;
    }
}
