.catalog {
    &__title {
        margin-top: 182px;
        font-weight: 500;
        font-size: 42px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .catalog {
        &__title {
            margin-top: 80px;
            font-size: 24px;
        }
    }
}
